$darkOne: #333;
$darkTwo: #161b22;
$lightOne: #d3d3d3;
$lightTwo: #a7d1ce;
$lightThree: #6d6161;
$minimalist-bg: #f6f6f6;
$l-red: #ec5242;
$simpleWhite: #fff;
$taskOnChange: #fffeca;
$dragColor: rgba(0, 0, 0, 0.3);
